

<div id="content">
  <div  class="quick-actions_homepage">
    <ul class="quick-actions">
      <li> <a href="#"> <i class="icon-dashboard"></i> Curvas IDF </a> </li>
      <li> <a href="<%= new_data_table_path %>"> <i class="icon-web"></i> Nueva tabla de tormentas </a> </li>
    </ul>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid">
          <div class="span12">
            <div class="widget-box">
              <div class="widget-title"><span class="icon"><i class="icon-file"></i></span>
                <h5>Últimas tablas cargadas</h5>
              </div>
              <div class="widget-content nopadding">
                <ul class="recent-posts">
                  <%@data_tables.each do |table|%>
                  <li>
                      <div class="user-thumb"> <img width="40" height="40" alt="User" src="<%= "https://graph.facebook.com/" + table.user.uid+ "/picture?type=square"%>"> </div>
                      <div class="article-post"> <span class="user-info"> <%= table.user.name%> / <%= table.created_at.strftime("%d/%m/%y")%> / <%= table.created_at.strftime("%H:%M")%>  </span>
                        <p><a href="<%=data_table_path(table)%>">Cargó la tabla <b><%= table.name%></b></a> </p>
                    </div>
                    </li>
                      <% end %>

                </ul>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>

  </div>
</div>
