<% if @sub_data_table.errors.any? %>

    <div class="alert alert-error alert-block"> <a class="close" data-dismiss="alert" href="#">×</a>
      <h4 class="alert-heading">Error!</h4>
      Hubo un problema al guardar el set de datos, completaste todos los datos? </div>
<%end%>



<%= nested_form_for(@sub_data_table, :html => {:class => "form-horizontal"}) do |f|  %>
    <div class="control-group">
      <label class="control-label">Duración de la lluvia:</label>
      <div class="controls">
        <%= f.number_field :time_in_minutes, :class =>"span8", :hint=> "en minutos..." %>
      </div>
    </div>
    <%= f.hidden_field :data_table_id %>

    <% f.object.data_rows.build unless !f.object.data_rows.blank? %>
    <%= f.fields_for :data_rows do |o| %>
        <div class="control-group">
          <label class="control-label">año y valor:</label>
          <div class="controls">
            <%= o.number_field :year, :class=> "span3" %>
            <%= o.number_field :t , :class=> "span3", :step => 'any' %>
            <%= o.link_to_remove "Remover fila", :class =>"btn btn-danger" %>

          </div>
        </div>

    <%end%>

      <%= f.link_to_add "Agregar Fila", :data_rows, :class => "btn btn-warning", :style => "margin-left:20px; margin-bottom:20px;"%>



    <div class="form-actions">
      <%= f.submit 'Guardar', :class => 'btn btn-success' %>
    </div>
<% end%>