<%= form_for(@data_table) do |f| %>
  <% if @data_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_table.errors.count, "error") %> prohibited this data_table from being saved:</h2>

      <ul>
      <% @data_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
