<h1>Listing data_tables</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_tables.each do |data_table| %>
      <tr>
        <td><%= data_table.name %></td>
        <td><%= link_to 'Show', data_table %></td>
        <td><%= link_to 'Edit', edit_data_table_path(data_table) %></td>
        <td><%= link_to 'Destroy', data_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data table', new_data_table_path %>
