<div id="content">


  <div class="quick-actions_homepage">
    <% if current_user == @data_table.user%>
    <ul class="quick-actions">
      <li> <a href="<%= new_sub_data_table_path(:data_table_id => @data_table.id) %>"> Nuevo set de datos </a> </li>
    </ul>
        <% end %>
  </div>


  <%unless notice.nil?%>
  <div class="container-fluid">
    <div class="alert alert-success">
      <button class="close" data-dismiss="alert">×</button>
      <strong>Exito!</strong> se creó correctamente el set de datos</div>

    <%end%>

    <div class="widget-box">
      <div class="widget-content">

        <div class="row-fluid">

          <div class="span12">
            <h3>Sets de datos de la tabla <%= @data_table.name%></h3>

            <div class="widget-box">
              <div class="widget-title">
                <ul class="nav nav-tabs">
                  <%@data_table.sub_data_tables.order("time_in_minutes ASC").each do |sub|%>
                      <%if sub == @data_table.sub_data_tables.order("time_in_minutes ASC").first%>
                      <li class="active">
                        <%else%>
                          <li class="">
                          <%end%>
                      <a data-toggle="tab" href="#tab<%= sub.time_in_minutes%>"><%= sub.time_in_minutes%> Minutos</a></li>

                <% end%>
                </ul>
              </div>
              <div class="widget-content tab-content">

                <%@data_table.sub_data_tables.order("time_in_minutes ASC").each do |sub|%>

                    <%if sub == @data_table.sub_data_tables.order("time_in_minutes ASC").first%>
                        <div id="tab<%= sub.time_in_minutes%>" class="tab-pane active">
                    <%else%>
                        <div id="tab<%= sub.time_in_minutes%>" class="tab-pane">
                    <%end%>
                    <%if sub.data_rows.length ==0%>
                    <p>No hay datos para esta tabla</p>
                        <% else %>
                        <div class="widget-content nopadding">
                          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid"><div class=""><div id="DataTables_Table_0_length" class="dataTables_length"></div></div><table class="table table-bordered data-table dataTable" id="DataTables_Table_0">
                            <thead>
                            <tr role="row">
                              <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="" style="width: 250px;"><div class="DataTables_sort_wrapper">Año<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span></div></th>
                              <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 435px;"><div class="DataTables_sort_wrapper">mm<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div></th>
                              <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 408px;"><div class="DataTables_sort_wrapper">I [mm/h]<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div></th>
                              <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 221px;"><div class="DataTables_sort_wrapper">n<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div></th>
                              <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 221px;"><div class="DataTables_sort_wrapper">N<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div></th>
                              <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 221px;"><div class="DataTables_sort_wrapper">Probabilidad<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div></th>
                              <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 221px;"><div class="DataTables_sort_wrapper">Recurrencia [años]<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div></th>
                            </tr>
                            </thead>

                            <tbody role="alert" aria-live="polite" aria-relevant="all">

                            <% sub.data_rows.each do |row| %>
                                <tr class="gradeA">
                                  <td class=" sorting_1" style="text-align: center" ><%= row.year%></td>
                                  <td class=" " style="text-align: center"><%= row.t%></td>
                                  <td class=" " style="text-align: center"><%= row.calc_i.round(2)%></td>
                                  <td class=" " style="text-align: center"><%= row.calc_n%></td>
                                  <td class=" " style="text-align: center"><%= row.calc_big_n%></td>
                                  <td class=" " style="text-align: center"><%= row.calc_p.round(2)%></td>
                                  <td class=" " style="text-align: center"><%= row.calc_r.round(2)%></td>
                                </tr>
                            <% end %>

                            </tbody></table>
                          </div>
                        </div>

              <% end %>
                    <% if current_user == sub.data_table.user%>
                        <%= link_to "Editar datos de "+sub.time_in_minutes.to_s+" minutos", edit_sub_data_table_path(sub), :class => 'btn btn-success', :style => 'margin-top: 10px;'%>
                    <%end%>
                    </div>
                <% end%>


              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

  </div>
</div>
